:root {
  --background: #111827;
  --highlight: #1F2937;
  --forelight: #9CA3AF;
  --color-white: #FFFFFF;
  --headings: #D1D5DB;
  --font-family: Arial, sans-serif;

  background-color: var(--background);
  color: var(--color-white);
  font-family: var(--font-family);
  padding: 1em;
}